#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0rem;
    text-align: center;
    margin-top: 0 auto;
    height: 100%;
    width: 100%;
   
    
  }
  
  .logo {
    height: 6em;
    padding: 1.5em;
    will-change: filter;
  }
  .logo:hover {
    filter: drop-shadow(0 0 2em #646cffaa);
  }
  .logo.react:hover {
    filter: drop-shadow(0 0 2em #61dafbaa);
  }
  
  @keyframes logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  
  @media (prefers-reduced-motion: no-preference) {
    a:nth-of-type(2) .logo {
      animation: logo-spin infinite 20s linear;
    }
  }
  
  .card {
    padding: 2em;
  }
  
  .read-the-docs {
    color: #888;
  }
  
  footer{
    display: flex;
    flex-direction: row;
    margin-left:0%;
    margin-top: 100%;
  }
  #cartas{
    width: auto;
    display: flex;
    flex-direction: row;
    align-content: center;

  }
  .App{
    position: relative;
    width: 100%;
    height: 100%;
    align-content: center;
    display: flex;
    flex-direction: column;
  }
  #cabeza{
    width: 100%;
    height: 20%;
    margin: 0%;
  }
  #cuerpo{
    width: 100%;
    height: 40%;
    margin: 0%;
    display: flex;
    justify-content: center;
  }
  #pie{
    width: 100%;
    height: 20%;
    margin: 0%;
    display: flex;
    justify-content: center;
  }




